
@{
    ViewBag.Title = "NotCredential";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/Credential.css" rel="stylesheet" />

<div class="row justify-content-md-center" style="margin-bottom:900px">
    <div class="access-denied-block">
        <h1>Không có quyền truy cập</h1>

        <p>Xin lỗi, bạn không có quyền truy cập vào trang này. Vui lòng liên hệ admin để được cấp quyền.</p>

    </div>

    
</div>
