.card-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add some vertical spacing between the cards */
}

.image {
   /* Adjust the width of the image container as needed */
    margin-right: 40px; /* Add some space between the image and the information */
}

.info {
    flex: 1;
    justify-content: space-between; /* Allow the information div to take the remaining available width */
}
